@model MobileViewModel
@{
    ViewData["Title"] = "Edit Mobile Information";
}

<div class="mt-5">
    <form method="post" enctype="multipart/form-data" asp-controller="Mobile" asp-action="Edit">
        <input type="hidden" asp-for="@Model.Id"/>
        <div class="mb-3">
            <label asp-for="MobileName"></label>
            <input asp-for="MobileName" class="form-control"/>
            <span asp-validation-for="MobileName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MobileImage"></label>
            <input asp-for="MobileImage" class="form-control" value="@Model.MobileImage"/>
        </div>

        <button type="submit" class="btn btn-outline-secondary px-5">Edit</button>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}